#about {
  display: flex;
  justify-content: center;
}

.text-center {
  text-align: center;
}

.text-italic {
  font-style: italic;
}

.text-bold {
  font-weight: bold;
}

.function {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

#preview {
  width: 600px;
  height: 600px;
  margin: auto;
  position: relative;
}

#frame {
  width: 500px;
  height: 500px;
  position: absolute;
  top: 50%;
  left: 50%;
  visibility: hidden;
  transform: translate(-50%, -50%);
  z-index: 10;
  pointer-events: none;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  padding-bottom: 20px;
}
