.text-center {
    text-align: center;
}

.text-italic {
    font-style: italic;
}

.function {
    display: flex;
    justify-content: center;
    margin-top: 40px;
    margin-bottom: 40px;
}

#content {
    display: flex;
    justify-content: center;
}

#preview {
    width: 400px;
    height: 400px;
}