.text-center {
    text-align: center;
}

.text-italic {
    font-style: italic;
}

.function {
    display: flex;
    justify-content: center;
    margin-top: 40px;
    margin-bottom: 40px;
}

#preview {
    width: 400px;
    height: 400px;
    margin: auto;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  padding-bottom: 20px;
}